{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Eshopper</title>
<link href="{% static 'assets/css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="{% static 'assets/js/jquery-1.11.1.min.js'%}"></script>
<!-- Custom Theme files -->
<link href="{% static 'assets/css/style.css'%}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
<!-- start menu -->
<link href="{% static 'assets/css/megamenu.css'%}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'assets/js/megamenu.js'%}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'assets/js/menu_jquery.js'%}"></script>
<script src="{% static 'assets/js/simpleCart.min.js'%}"> </script>
</head>
<body>
<!-- header_top -->
<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="#">help</a></li>|
					<li><a href="contact.html">Contact</a></li>|
					<li><a href="#">Delivery information</a></li>
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> Call us : 032 2352 782</h2>
			</div>
            
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- header -->
<div class="header_bg">
<div class="container">
	<div class="header">
	<div class="head-t">
		<div class="logo">
			<a href="index.html"><img src="{% static 'assets/images/logo.png'%}" class="img-responsive" alt=""/> </a>
		</div>
		<!-- start header_right -->
        {% if user.is_authenticated %}
		<div class="header_right">
			<div class="rgt-bottom">
				<div class="log">
					<div class="login" >
						<div id="loginContainer"><a href="{% url 'profile-buyer'%}"><span><img src="{{request.user.profile.url}}" alt="" style="height: 30px;width: 30px;">{{request.user.name}}</span></a>
						</div>
					</div>
					</div>
					<div class="reg">
						<a href="{% url 'logout'%}">Logout</a>
					</div>
			<div class="create_btn">
				<a href="{% url 'cart'%}">CART</a>
			</div>
			<div class="create_btn">
				<a href="{% url 'my-order' %}">My Order</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="search">
		    <form>
		    	<input type="text" value="" placeholder="search...">
				<input type="submit" value="">
			</form>
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
    {% else %}
    <div class="header_right">
        <div class="rgt-bottom">
            <div class="log">
                <div class="login" >
                    <div id="loginContainer"><a href="{% url 'login'%}"><span>Login</span></a>
                       
                    </div>
                </div>
            </div>
            <div class="reg">
                <a href="{% url 'register'%}">REGISTER</a>
            </div>
        <div class="clearfix"> </div>
    </div>
    <div class="search">
        <form>
            <input type="text" value="" placeholder="search...">
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
    {% endif %}
		<!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="{% url 'index'%}">Home</a></li>
			<li><a class="color4" href="{% url 'product-filter' 1 %}">Fashion</a>
				
				</li>				
				<li><a class="color5" href="{% url 'product-filter' 2 %}">Electronic</a>
				
				</li>
				<li><a class="color6" href="{% url 'product-filter' 3 %}">Kitchen</a>
				
				</li>				
			
				<li><a class="color7" href="{% url 'product-filter' 4 %}">Travel</a>
				
				</li>				
			
				<li><a class="color8" href="{% url 'product-filter' 5 %}">Toy</a>
				
				</li>
				<li><a class="color9" href="{% url 'product-filter' 6 %}">Beauty</a>
				
				</li>
				<li><a class="color2" href="{% url 'product-filter' 7 %}">Food</a>
				
				</li>
				<li><a class="color3" href="{% url 'product-filter' 8 %}">Stationary</a>
				
				</li>
		 </ul> 
	</div>
</div>
</div>
{% block content %}
{% endblock %}
<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>CUSTOMER CARE</h4>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="buy.html">How To Buy</a></li>
				<li><a href="#">Delivery</a></li>
		</div>
		<div class="col-md-2 abt">
			<h4>ABOUT US</h4>
				<li><a href="#">Our Stories</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Career</a></li>
				<li><a href="contact.html">Contact</a></li>
		</div>
		<div class="col-md-2 myac">
			<h4>MY ACCOUNT</h4>
				<li><a href="register.html">Register</a></li>
				<li><a href="#">My Cart</a></li>
				<li><a href="#">Order History</a></li>
				<li><a href="buy.html">Payment</a></li>
		</div>
		<div class="col-md-5 our-st">
			<div class="our-left">
				<h4>OUR STORES</h4>
			</div>
			<div class="our-left1">
				<div class="cr_btn">
					<a href="#">SOLO</a>
				</div>
			</div>
			<div class="our-left1">
				<div class="cr_btn1">
					<a href="#">BOGOR</a>
				</div>
			</div>
			<div class="clearfix"> </div>
				<li><i class="add"> </i>Jl. Haji Muhidin, Blok G no.69</li>
				<li><i class="phone"> </i>025-2839341</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
			
		</div>
		<div class="clearfix"> </div>
			<p>Copyrights © 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>
</body>
</html>
{% for msg in messages %}
<script>
	alert("{{msg}}")
</script>
{% endfor %}