{% extends 'header.html'%}
{% load static %}
{% block content %}
<!-- content -->
<div class="container">
<div class="main">
	<!-- start registration -->
	<div class="registration">
		<div class="registration_left">
		<h2><span>Change Password </span></h2>
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="" method="post">
				{% csrf_token %}
				<div>
					<label for="">Old Password</label>
					{{form.old_password}}
				</div>
				<div>
					<label for="">Password</label>
					{{form.new_password1}}
				</div>						
				<div>
					<label for="">Confirm Password</label>
					{{form.new_password2}}
				</div>	
				<div>
					<input type="submit" value="Reset Password " id="register-submit">
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	<div class="registration_left">
		{% if form.errors %}
		<h2>Please Correct This Fields</h2>
		<ul class="user-msg error">
			{% for field in form %}
			{% for error in field.errors %}
			<li>
				{% if field != '__all__' %}
					<strong>{{ field.error }}:</strong>
				  {% endif %}
				  {{ error }}
				</li>
			{% endfor %}
		{% endfor %}
		</ul>
	{% endif %}
	</div>
	<div class="clearfix"></div>
	</div>
	<!-- end registration -->
</div>
</div>
{% endblock %}