{% extends 'header.html'%}
{% block content %}
<style>
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 15px 0;
}

.num-block {
	float: left;
	width: 100%;
  padding: 15px 30px;
}

/* skin 1 */
.skin-1 .num-in {
	float: left;
	width: 94px;}

.skin-1 .num-in span {
	display: block;
	float: left;
	width: 30px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.skin-1 .num-in span.dis:before {
  background-color: #ccc !important;
}

.skin-1 .num-in input {
	float: left;
	width: 32px;
	height: 32px;
	border: 1px solid #6E6F7A;
	border-radius: 5px;
	color: #000;
	text-align: center;
	padding: 0;
}

.skin-1 .num-in span.minus:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 2px;
	background-color: #00A94F;
	top: 50%;
	left: 0;
}

.skin-1 .num-in span.plus:before, .skin-1 .num-in span.plus:after {
	content: '';
	position: absolute;
	right: 0px;
	width: 15px;
	height: 2px;
	background-color: #00A94F;
	top: 50%;
}

.skin-1 .num-in span.plus:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* / skin 1 */

</style>
<!-- content -->
<div class="container">
<div class="women_main">
	<!-- start content -->
			<div class="row single">
				<div class="col-md-9 det">
				  <div class="single_left">
					<div class="grid images_3_of_2">
						<ul id="etalage">
							<li>
								<a href="">
									<img class="etalage_thumb_image" src="{{product.pic.url}}" class="img-responsive" style="height: 500px; width: 280px;"/>
								</a>
							</li>
						</ul>
						 <div class="clearfix"></div>		
				  </div>
				  <div class="desc1 span_3_of_2">
					<h3>{{product.product_name}}</h3>
					<span class="brand">Brand: <a href="#"> </a></span>
					<br>
					<span class="code">Availabe Quantity: {{product.quantity}}</span>
					<p>{{product.description}}</p>
						<div class="price">
							<span class="text">Price:</span>
							<span class="price-new">₹{{product.price}}</span>
						</div><br>
						<form action="{% url 'add-to-cart' product.id %}" method="POST">
						{% csrf_token %}
						{% if cart %}
						This Product is Already Exits Please check your Cart
						<div class="btn_form">
							<a href="{% url 'cart'%}">Cart</a>
						</div>	
						{% else %}
						<div class="price">
							<span class="text">Quantity:</span>
							<div class="num-block skin-1">
								<div class="num-in">
								  <span class="minus dis"></span>
								  <input type="text" class="in-num" value="1"  name="quantity">
								  <span class="plus"></span>
								</div>
							  </div>
						</div>
						<div class="registration_form">
							<input type="submit" value="Add To Cart">
						</div>
						{% endif %}
						</form>
					<div class="btn_form">
						<a href="">Buy</a>
					</div>
			   	 </div>
					<div class="clearfix"></div>
				</div>
				<div class="single-bottom1">
				<h6>Seller Info </h6>
				<p class="prod-desc">Name:{{product.seller.name}}</p>
				<p class="prod-desc">Email:{{product.seller.email}}</p>
				</div>
          	    <div class="single-bottom1">
					<h6>Details</h6>
					<p class="prod-desc">{{product.description}}</p>
				</div>
				<!-- <div class="single-bottom2">
					<h6>Related Products</h6>
						<div class="product">
						   <div class="product-desc">
								<div class="product-img">
		                           <img src="images/w8.jpg" class="img-responsive " alt=""/>
		                       </div>
		                       <div class="prod1-desc">
		                           <h5><a class="product_link" href="#">Excepteur sint</a></h5>
		                           <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>									
							   </div>
							  <div class="clearfix"></div>
					      </div>
						  <div class="product_price">
								<span class="price-access">$597.51</span>								
								<button class="button1"><span>Add to cart</span></button>
		                  </div>
						 <div class="clearfix"></div>
				     </div>
		   	  </div> -->
	       </div>	
		   <div class="clearfix"></div>		
	  </div>
	<!-- end content -->
</div>
</div>

<script>
$(document).ready(function() {
  $('.num-in span').click(function () {
      var $input = $(this).parents('.num-block').find('input.in-num');
    if($(this).hasClass('minus')) {
      var count = parseFloat($input.val()) - 1;
      count = count < 1 ? 1 : count;
      if (count < 2) {
        $(this).addClass('dis');
      }
      else {
        $(this).removeClass('dis');
      }
      $input.val(count);
    }
    else {
      var count = parseFloat($input.val()) + 1
      $input.val(count);
      if (count > 1) {
        $(this).parents('.num-block').find(('.minus')).removeClass('dis');
      }
    }
    
    $input.change();
    return false;
  });
  
});
// product +/-
</script>
{% endblock %}