{% extends 'seller/seller-header.html'%}
{% load static %}
{% block content %}

<style>
    table {
      counter-reset: tableCount;     
  }
  .counterCell:before {              
      content: counter(tableCount); 
      counter-increment: tableCount; 
  }
 
    </style> 
<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">View Product </a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->
                    <!-- /# column -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                    <h4>View Product </h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Description</th>
                                                <th>Image</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in uid %}
                                            <tr>
                                                <td> </td>
                                                <td>{{product.product_name}}</td>
                                                <td>{{product.category}}</td>
                                                <td>{{product.quantity}}</td>
                                                <td>{{product.price}}</td>
                                                <td>{{product.description}}</td>
                                                <td><img src="{{product.pic.url}}" alt="" style="height: 50px; width: 50px;"></td>
                                                <td>
                                                    <span><a href="{% url 'edit-product' product.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5" style="color:blue;"></i> </a></span>
                                                </td>
                                                <td>
                                                    <span> <a href="{% url 'delete-product' product.id %}" data-toggle="tooltip" data-placement="top" title="delete"><i class="fa fa-trash " style="color: red;"></i></a></span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    {% for msg in messages %}
                    <script>
                        alert("{{msg}}")
                    </script>
                    {% endfor %}
 {% endblock %}